{%extends "base.html" %}{% block title %}Home{% endblock %}
{%block content %}
<h1 align="center">Accounts</h1>
<div align="right">
   <a href="/add-account" class="btn btn-primary">Add Account</a>
</div>

<ul class="list-group list-group-flush" id="accounts">
    {%for account in user.accounts %}
    <li class="list-group-item">{{account.name}}
        <button type="button" class="close" onClick="deleteAccount('{{account.phone}}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {%endfor%}
</ul>
{% endblock %}